// 变量
// 定义主题变量
$prefix: 's';
$s-border-radius: var(--s-border-radius, 2px); //一般圆角
$s-border-radius-round: var(--s-border-radius-round, 20px); //一般圆角
$s-font-size-sm: var(--s-font-size-md, 10px); //当组件size为''时使用此字号大小
$s-font-size-md: var(--s-font-size-md, 12px); //当组件size为''时使用此字号大小
$s-font-size-lg: var(--s-font-size-md, 14px); //当组件size为''时使用此字号大小
$s-animation-duration-slow: var(--s-animation-duration-slow, 300ms);
$s-animation-ease-in-out-smooth: var(
  --s-animation-ease-in-out-smooth,
  cubic-bezier(0.645, 0.045, 0.355, 1)
);
$s-light-text: var(--s-light-text, #ffffff); // 有色深色背景下字体颜色（固定）


$s-primary: var(--s-primary, #5e7ce0); // 主要按钮，同品牌色
$s-primary-disabled: var(--s-primary-disabled, #879ada); // 主要按钮，同品牌色
$s-primary-hover: var(--s-primary-hover, #7693f5); // 主要按钮悬停
$s-primary-active: var(--s-primary-active, #344899); // 主要按钮激活
$s-primary-pain: var(--s-primary-pain, #ecf5ff);
$s-primary-border: var(--s-primary-border, #a0cfff);

$s-primary-dis-color: var(--s-primary-dis-color, #ffffff);
$s-primary-dis-bg-color: var(--s-primary-dis-bg-color, #a0cfff);
$s-primary-dis-border-color: var(--s-primary-dis-border-color, #a0cfff);

$s-primary-dis-pain-color: var(--s-primary-dis-pain-color, #a0cfff);
$s-primary-dis-pain-bg-color: var(--s-primary-dis-pain-bg-color, #ecf5ff);
$s-primary-dis-pain-border-color: var(--s-primary-dis-pain-border-color, #d9ecff);





// 成功按钮
$s-success: var(--s-success, #67c23a);
$s-success-disabled: var(--s-success-disabled, #95d475);
$s-success-hover: var(--s-success-hover, #95d475);
$s-success-active: var(--s-success-active, #529b2e);
$s-success-pain: var(--s-success-pain, #f0f9eb);
$s-success-border: var(--s-success-border, #b3e19d);

$s-success-dis-color: var(--s-success-dis-color, #ffffff);
$s-success-dis-bg-color: var(--s-success-dis-bg-color, #b3e19d );
$s-success-dis-border-color: var(--s-success-dis-border-color, #b3e19d);

$s-success-dis-pain-color: var(--s-success-dis-pain-color, #b3e19d);
$s-success-dis-pain-bg-color: var(--s-success-dis-pain-bg-color, #f0f9eb);
$s-success-dis-pain-border-color: var(--s-success-dis-pain-border-color, #e1f3d8);


 
// 信息按钮
$s-info: var(--s-info, #909399);
$s-info-disabled: var(--s-info-disabled, #c8c9cc);
$s-info-hover: var(--s-info-hover, #b1b3b8);
$s-info-active: var(--s-info-active, #73767a);
$s-info-pain: var(--s-info-pain, #f4f4f5);
$s-info-border: var(--s-info-border, #c8c9cc);

$s-info-dis-color: var(--s-info-dis-color, #ffffff);
$s-info-dis-bg-color: var(--s-info-dis-bg-color, #c8c9cc);
$s-info-dis-border-color: var(--s-info-dis-border-color, #c8c9cc);

$s-info-dis-pain-color: var(--s-info-dis-color, #c8c9cc);
$s-info-dis-pain-bg-color: var(--s-info-dis-bg-color, #f4f4f5);
$s-info-dis-pain-border-color: var(--s-info-dis-border-color, #e9e9eb);

// 警告按钮
$s-warning: var(--s-warning, #e6a23c);
$s-warning-disabled: var(--s-warning-disabled, #f3d19e);
$s-warning-hover: var(--s-warning-hover, #eebe77);
$s-warning-active: var(--s-warning-active, #b88230);
$s-warning-pain: var(--s-warning-pain, #fdf6ec);
$s-warning-border: var(--s-warning-border, #f3d19e);

$s-warning-dis-color: var(--s-warning-dis-color, #ffffff);
$s-warning-dis-bg-color: var(--s-warning-dis-bg-color, #f3d19e);
$s-warning-dis-border-color: var(--s-warning-dis-border-color, #f3d19e);

$s-warning-dis-pain-color: var(--s-warning-dis-pain-color, #f3d19e);
$s-warning-dis-pain-bg-color: var(--s-warning-pain-dis-bg-color, #fdf6ec);
$s-warning-dis-pain-border-color: var(--s-warning-pain-dis-border-color, #faecd8);

// 危险按钮
$s-danger: var(--s-danger, #f56c6c);
$s-danger-disabled: var(--s-danger-disabled, #fab6b6);
$s-danger-hover: var(--s-danger-hover, #f89898);
$s-danger-active: var(--s-danger-active, #c45656);
$s-danger-pain: var(--s-danger-pain, #fef0f0);
$s-danger-border: var(--s-danger-border, #fab6b6);

$s-danger-dis-color: var(--s-danger-dis-color, #ffffff);
$s-danger-dis-bg-color: var(--s-danger-dis-bg-color, #fab6b6);
$s-danger-dis-border-color: var(--s-danger-dis-border-color, #fab6b6);

$s-danger-dis-pain-color: var(--s-danger-dis-pain-color, #fab6b6);
$s-danger-dis-pain-bg-color: var(--s-danger-dis-pain-bg-color, #fef0f0);
$s-danger-dis-pain-border-color: var(--s-danger-dis-pain-border-color, #fde2e2);



$s-text: var(--s-text, #252b3a); // 正文文本
$s-disabled-text: var(--s-disabled-text, #8891a7); // 正文文本
$s-disabled-bg: var(--s-disabled-bg, #c2cce5); // 正文文本
$s-disabled-line: var(--s-disabled-line, #a9b0c0); // 正文文本
$s-block: var(
  --s-block,
  #ffffff
); // 大面积的不可折叠区块的背景色（例如顶部导航背景色）
$s-line: var(--s-line, #adb0b8); // 边框分割线，仅用于边框
$s-form-control-line-active: var(
  --s-form-control-line-active,
  #5e7ce0
); // 表单控件边框激活色，用于获得焦点
$s-brand-active: var(--s-brand-active, #526ecc); // 品牌色激活色（加深）
$s-brand-active-focus: var(
  --s-brand-active-focus,
  #344899
); // 品牌色焦点色（重度加深）


$s-tag-primary: var(--s-tag-primary,#3faaf51a);
$s-tag-primary-border: var(--s-tag-primary-border-color,#3faaf533);
$s-tag-primary-color: var(--s-tag-primary-color,#3faaf5);

$s-tag-success: var(--s-tag-success,#12ce661a);
$s-tag-success-border: var(--s-tag-success-border-color,#12ce6633);
$s-tag-success-color: var(--s-tag-success-color,#13ce66);

$s-tag-warning: var(--s-tag-warning,#f7ba291a);
$s-tag-warning-border: var(--s-tag-warning-border-color,#f7ba2933);
$s-tag-warning-color: var(--s-tag-warning-color,#f7ba2a);

$s-tag-danger: var(--s-tag-danger,#ff49491a);
$s-tag-danger-border: var(--s-tag-danger-border-color,#ff494933);
$s-tag-danger-color: var(--s-tag-danger-color,#ff4949);

$-show-more-color: var(--s-show-more-color,#000);
$-show-more-color-primary: var(--s-show-more-color-primary,#3FAAF5);



$line-height-base: 1.5715;
/******** spacing *******/
$spacing-none: 0;
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 6px;
$spacing-4: 8px;
$spacing-5: 10px;
$spacing-6: 12px;
$spacing-7: 16px;
$spacing-8: 20px;
$spacing-9: 24px;
$spacing-10: 32px;
$spacing-11: 36px;
$spacing-12: 40px;
$spacing-13: 48px;
$spacing-14: 56px;
$spacing-15: 60px;
$spacing-16: 64px;
$spacing-17: 72px;
$spacing-18: 80px;
$spacing-19: 84px;
$spacing-20: 96px;
$spacing-21: 100px;
$spacing-22: 120px;

/******** radius *******/

$radius-none: 0px;
$radius-small: 2px;
$radius-medium: 4px;
$radius-large: 8px;
$radius-circle: 50%;

/******** size *******/

$size-none: 0;
$size-1: 4px;
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 20px;
$size-6: 24px;
$size-7: 28px;
$size-8: 32px;
$size-9: 36px;
$size-10: 40px;
$size-11: 44px;
$size-12: 48px;
$size-13: 52px;
$size-14: 56px;
$size-15: 60px;
$size-16: 64px;
$size-17: 68px;
$size-18: 72px;
$size-19: 76px;
$size-20: 80px;
$size-21: 84px;
$size-22: 88px;
$size-23: 92px;
$size-24: 96px;
$size-25: 100px;
$size-26: 104px;
$size-27: 108px;
$size-28: 112px;
$size-29: 116px;
$size-30: 120px;
$size-31: 124px;
$size-32: 128px;
$size-33: 132px;
$size-34: 136px;
$size-35: 140px;
$size-36: 144px;
$size-37: 148px;
$size-38: 152px;
$size-39: 156px;
$size-40: 160px;
$size-41: 164px;
$size-42: 168px;
$size-43: 172px;
$size-44: 176px;
$size-45: 180px;
$size-46: 184px;
$size-47: 188px;
$size-48: 192px;
$size-49: 196px;
$size-50: 200px;

$size-mini: $size-6;
$size-small: $size-7;
$size-default: $size-8;
$size-large: $size-9;


// 线性
$transition-timing-function-linear: cubic-bezier(0, 0, 1, 1);
// 标准
$transition-timing-function-standard: cubic-bezier(0.34, 0.69, 0.1, 1);
// 过冲
$transition-timing-function-overshoot: cubic-bezier(0.3, 1.3, 0.3, 1);
// 减速
$transition-timing-function-decelerate: cubic-bezier(0.4, 0.8, 0.74, 1);
// 加速
$transition-timing-function-accelerate: cubic-bezier(0.26, 0, 0.6, 0.2);
